flask
whisper
torch
numpy
librosa
soundfile
noisereduce
requests
pydub
spacy
en-core-web-sm
geopy
scikit-learn
tqdm
openai-whisper
matplotlib
scipy
typing-extensions
python-dotenv
nltk
transformers
pandas
pytest
pytest-cov
flask-sqlalchemy
flask-migrate